[2021-11-06 01:42] xmha97 opened #1 "Create an MSI Package"
Hi, please create an MSI Package for this app.

[2021-11-06 17:26] PRinceBhai opened #2 "Pacman shows app installed but they aren't."
Opening an apk after associating it with pacman I can see the Installer window appear and pacman reads package name and shows it icon but when I click Install it instantly shows me the "App Installed" Window in just a sec. That means the app wasn't installed clicking on "Open App" doesn't do anything because the app isn't Installed. Obviously not visible in Start Menu.

[2021-11-06 19:06] alesimula commented on #2
What's the result of running the command "adb devices"?

[2021-11-06 19:44] alesimula commented on #2
@PRinceBhai nevermind, I made a stupid mistake... but it should be fixed in the new version, can you confirm?

[2021-11-07 07:02] PRinceBhai commented on #2
@alesimula Yep, Apps are installing now. Thanks for the fix! :)

[2021-11-07 10:21] #2 closed

[2021-11-09 01:03] alesimula commented on #1
@xmha97 Hello, I created an installer, it's available in the release page

[2021-11-09 03:02] xmha97 commented on #1
Thanks, I will install it. 🙏
I hope you make a MSIX package and upload it in the Microsoft Store.

[2021-11-12 00:57] itsmeboy0 opened #3 "Publish to Microsoft Store"
It seems like a more popular alternative is available on the Microsoft Store called [WSATools](https://www.microsoft.com/en-us/p/wsatools/9n4p75dxl6fg). Would be great if this would be in the Microsoft Store too.

[2021-11-12 02:14] itsmeboy0 commented on #1
Unfortunately, the installer just freezes, making it unusable.

[2021-11-12 19:04] crocer211 opened #4 "apk icons"
would it be possible to have the apk files icons be the same as what it would be on a normal android and if its possible to add desktop shortcuts to installed apps as i personally like this over wsatools

[2021-11-12 19:06] crocer211 commented on #1
tbh no it doesnt WSATools for me cant install every apk but this can

[2021-11-12 20:49] alesimula commented on #1
@itsmeboy0 Can you post a screenshot? What does the installer say right before it freezes?

[2021-11-12 21:25] crocer211 commented on #1
any idea why avast keeps using cyber capture on when running the installer/the actual app

[2021-11-12 23:24] alesimula commented on #4
@crocer211 The biggest issue would be that getting the icon is a very costly operation (Android probably has a more optimized way to do this), so doing this for every .apk file that could potentially be on your desktop or your download folder would just hog your CPU and potentially slow down your programs; it's not as straightforward as decoding an image

As for the desktop shortcut option, I like

[2021-11-13 00:03] itsmeboy0 commented on #1
Here
![image](https://user-images.githubusercontent.com/75471378/141597063-60e01a21-06ab-49ce-b786-018121eee4b5.png)

[2021-11-13 00:56] alesimula commented on #1
@itsmeboy0 that's kind of weird, does the new installer (v0.5.1) also have this problem?

[2021-11-13 02:12] itsmeboy0 commented on #1
Yes it does.

[2021-11-13 06:56] alesimula commented on #1
@itsmeboy0 could you do me a favour? Could you try to run the setup from the command line like this and send me the log? (Just right click on the folder -> open terminal here)

WSA-pacman-v0.5.1-installer.exe /LOG="myfile.txt"

Or try using a full path if it doesn't create in the same folder (eg. "C:\myfile.txt")

[2021-11-13 09:02] itsmeboy0 commented on #1
Here it is
[code]

[2021-11-14 17:35] alesimula commented on #1
@itsmeboy

Seems like it's failing right at the end, definitely weird since it's basically done (It's not even installing Visual C++ Redist as your installed version is higher then the version in the setup, so that's not the issue)
How long have you tried leaving it open?

[2021-11-14 23:06] itsmeboy0 commented on #1
Tried leaving it open for 10 minutes, and it is still freezing. I do notice that it seems to be already installed even if I forcibly close it. The freeze is still annoying though.

[2021-11-15 02:45] #4 closed

[2021-11-15 09:20] alesimula commented on #1
@itsmeboy0 I tried on a slow computer, it did freeze up right in the end, I had to wait maybe 10-15 mins before it unfroze (but maybe it was just the Visual C++ Redist installation)

Does the program show up in Control Panel -> Programs and Features?

[2021-11-15 09:49] itsmeboy0 commented on #1
Yes it does, even if I had forcibly closed it. Uninstallation freezes as well.

[2021-11-15 23:23] alesimula commented on #3
@itsmeboy0 I might need to make a different icon before looking into this

[2021-11-16 17:37] muhammadbahaa2001 opened #5 "Adding more languages including Arabic"
I hope in the future you add more language including Arabic.
I am ready to help you to add Arabic language translation if you agreed 🤝

[2021-11-22 14:48] alesimula commented on #5
Hi, maybe I'll add them when I think I'm done implementing most of the features, I'll keep this issue open for now

[2021-12-01 20:45] milnak opened #6 "add version number to app and to WSA-pacman.exe file properties"
Currently no way (that I can find) to determine what version I have installed.

Would be nice to have an updater as well.

[2021-12-06 20:39] alesimula commented on #6
@milnak I'm now displaying the version number on the navigation bar in the latest release; implementing the updater might be a little more complex though

[2021-12-11 12:46] ishid4 opened #7 "Automatically start subsystem when clicking install"
This would be great to start when clicking install if the subsystem isn't started yet. Just like opening an android app without starting the subsystem.

[2021-12-21 18:21] alesimula commented on #7
@ishid4 I added an option to auto-start WSA when opening the package installer, as well as a button to start it in the main menu in case it's powered-off, hope everything works :P

[2021-12-21 18:55] ishid4 commented on #7
Yep, It's working fine for me. Great work!

[2021-12-21 18:55] #7 closed

[2021-12-22 10:09] Void48 commented on #6
Some kind of updater for apps would be amazing!

[2021-12-23 13:13] wenmin92 opened #9 "Chinese text mess"
<img src="https://user-images.githubusercontent.com/6901815/147245053-7e1cc8c3-e859-4481-ad15-960919be7d08.png" width="500px">
<img src="https://user-images.githubusercontent.com/6901815/147245055-d7ba41b5-e6ba-4703-83df-3cc08201ac3e.png" width="500px">
<img src="https://user-images.githubusercontent.com/6901815/147245060-3a6074a6-9f33-44d8-8e0c-fee5c99a20b3.png" width="500px">

[2021-12-23 13:49] wenmin92 opened #10 "Install via Scoop"
[Scoop](https://scoop.sh/) is a famous Windows package manager, we can use scoop to install & update wsa_pacman.

Once added to the scoop bucket, we can install and update it like this:
[code]
[code]

Installation and updates will be a breeze.

[2021-12-23 19:50] alesimula commented on #9
I guess you installed a Chinese app

[2021-12-23 20:07] alesimula commented on #10
Does it handle file associations though?

Or dependencies? In case it does, it needs Visual C++ redistributable as a dependency, otherwise I might need to add the DLLs to the portable zip

[2021-12-24 01:59] wenmin92 commented on #9
Of course, I have installed several Chinese apps that have this problem, here I give a link to one of them for you to test.
https://static.beingfine.cn/apk/is_cool_qlisten_2.2.515261710003.apk

[2021-12-24 02:18] wenmin92 commented on #10
Not yet, but we can add scripts in the manifest to handle file associations.

Scoop supports adding dependencies, but which version of Visual C++ does this app depend on?

[2021-12-24 07:39] alesimula commented on #10
The flutter desktop documentation doesn't seem to specify the version but it says it needs these files specifically

[code]

[2021-12-24 10:10] wenmin92 commented on #10
Note [here](https://docs.microsoft.com/en-US/cpp/windows/latest-supported-vc-redist ):

Since flutter requires Visual Studio 2019 to be installed, the vcredist version here should be at least 2019.

[2021-12-24 12:41] alesimula commented on #10
@wenmin92 doesn't the vcredist scoop package install the latest version?

[2021-12-24 12:45] wenmin92 commented on #10
No, each version of vcredist has a separate manifest, and we can choose to install any version.

[2021-12-24 17:04] alesimula commented on #10
@wenmin92

What about [this one?](https://github.com/ScoopInstaller/Extras/blob/master/bucket/vcredist.json)

The exe which the "url" points to seems to be the same all-in-one installer I bundle in my installer (as per screenshot)

![image](https://user-images.githubusercontent.com/3057584/147366087-efe69f0f-44f9-4c99-99bd-82c7eae034ee.png)

[2021-12-24 21:48] alesimula commented on #9
@wenmin92 I see it a tad more messy than you do

![image](https://user-images.githubusercontent.com/3057584/147372902-5cf95420-22fc-43f4-aa77-b1fed0bd08e1.png)

[2021-12-24 22:06] alesimula commented on #9
@wenmin92 Can you confirm this is the correct title?

![image](https://user-images.githubusercontent.com/3057584/147373156-f3fbe8d6-90c6-4d1d-b120-e881cd2a1a42.png)

[2021-12-25 01:28] wenmin92 commented on #9
Great, this is the correct title. Thanks!

[2021-12-25 01:42] wenmin92 commented on #10
Oh, I'm sorry, I didn't know this package existed, this is certainly better.

[2021-12-25 12:17] alesimula commented on #9
@wenmin92 Could you test it with some apps and confirm it works? https://mega.nz/file/MxchmIjJ#1uIYHcF5F7Siv_v8iQmlN-PADtkut9xrXA29kjI18ww

[2021-12-25 12:55] wenmin92 commented on #9
It looks fine for install Chinese apks.

Note:
1. I also encountered a stuck interface during the installation process, and after about 2 to 4 minutes, I was able to move on to the next interface.
2. After the installation was completed, it asked for a reboot.
3. And after I rebooted, I found that the file association was not normal.
4. The whole installation process changed a lot of files and reg

[2021-12-25 13:54] alesimula commented on #9
@wenmin92 The installer installs the version I bundled (wsa_pacman/installer/redist/VC_redist.x64.exe) if there is no version installed or the currently installed version is inferior to the one I bundled.

Also what do you mean by "the file association was not normal"?

[2021-12-25 14:05] wenmin92 commented on #9
1. When I double-click a apk file, the system pops up the following prompt box:

![image](https://user-images.githubusercontent.com/6901815/147386526-0930588e-4464-49a9-af9e-e54db24a8c39.png)

该文件没有与之关联的应用来执行该操作。请安装应用，若已经安装应用，请在“默认应用设置"页面中创建关联。
The file does not have an application associated with it to perform this action. Please install the application, or if you have already installed the appli

[2021-12-25 14:36] Ga2en opened #11 "Can't install if in Chinese name folder"
Can't install if the APK file in Chinese name folder

[2021-12-25 15:21] wenmin92 commented on #9
The situation mentioned in the previous post happened when there was no **reboot**.
I tried again, after uninstalling and reinstalling, there was no prompt to reboot the system, at this point, the file association was faulty, and the problem disappeared after **reboot**.

[2021-12-25 18:46] misheu12 commented on #11
maybe it's need English name folder...
also, I can't to install apk from folder withe hebrow name.

[2021-12-26 05:16] ramma1 opened #12 "short cut post installation"
how do i create a short cut after not checking the box post installation?

[2021-12-26 12:13] wenmin92 commented on #10
This is not recommended because it depends on vcredist 2005 ~ 2013, causing these vcredist versions to be installed before installing it, which we don't need.

[2021-12-26 15:58] Gaoyifei1011 opened #13 "Desired functional improvements"
Hope to be able to provide MSIX format of the installation package, publish to Microsoft Store, and provide multi-language support
希望能够提供msix格式的安装包，上架Microsoft Store，并提供多语言支持

[2021-12-26 22:13] hamzamaqsood877 opened #14 "WSA cannot be turned on because of ERROR: this code execution cannot be proceed because gfxstream_backend.dll was not found. Reinstalling the program may fix this problem."
I also reinstalled the program but still facing the same error.

![image](https://user-images.githubusercontent.com/73820858/147421152-bc426583-2e2e-42fe-adf0-092e570509c3.png)

[2021-12-26 22:20] hamzamaqsood877 commented on #14
IP address needed to be refreshed from Windows Sub-System for Android (WSA) and all went well.

[2021-12-27 01:41] alesimula commented on #12
@ramma1 search for the app in start, right click -> open file location;

there you'll get to a folder where all the app shortcuts are, copy that one and paste it on the desktop

[2021-12-27 01:41] #12 closed

[2021-12-27 01:47] alesimula commented on #10
@wenmin92 What about [this one?](https://github.com/ScoopInstaller/Extras/blob/master/bucket/vcredist2022.json), seems to only install the 2015-2022

[2021-12-27 07:30] wenmin92 commented on #10
Okay, then this one.

[2021-12-27 07:44] wenmin92 commented on #9
Please ignore the installation problem, this minor problem is perfectly acceptable at this stage.

[2021-12-27 09:48] wenmin92 commented on #10
It has been added to scoop's extras bucket, and now we can use scoop to install wsa-pacman. 🎉

[2021-12-27 12:15] alesimula commented on #11
@Ga2en This seems to be a bug in aapt.exe; however I might have found a few workarounds

[2021-12-27 13:29] alesimula commented on #11
@Ga2en [This version](https://mega.nz/file/gp0FVILb#m2wTpzU8h7COtk_qvHUKEXdzKOS-4AP0iCGqIg4tn68) should work for both directories and files with unicode characters. Can you guys confirm this works? (the fix will be released in 1.1.2)

[2021-12-27 13:40] #10 closed

[2021-12-27 13:44] alesimula commented on #9
@wenmin92 All right, BTW could you please open a new issue for the installation problem as I'm closing this one, so it's easier to keep track of it

[2021-12-27 13:44] #9 closed

[2021-12-28 00:19] Neomanbeta commented on #11
Sadly, it does not work with 1.1.2，the filename is not in Chinese and it's not in a Chinese name folder, but on the installation screen the Chinese APP title cannot display properly. It will install, but the app won't launch and cannot be installed (maybe it wasn't installed properly in the first place?).

[2021-12-28 01:36] Ga2en commented on #11
This version works well

[2021-12-28 01:38] Ga2en commented on #11
This new version works well for me, my file is in 下载 folder, please confirm so I can close this issue

[2021-12-28 01:49] wenmin92 commented on #6
Try https://github.com/alesimula/wsa_pacman/issues/10, you should like it.

[2021-12-28 01:50] wenmin92 commented on #3
As an alternative, we can use scoop to install wsa-pacman for now.
See https://github.com/alesimula/wsa_pacman/issues/10

[2021-12-28 01:51] wenmin92 commented on #1
As an alternative, we can use scoop to install wsa-pacman for now.
See https://github.com/alesimula/wsa_pacman/issues/10

[2021-12-28 02:16] Neomanbeta commented on #11
I just uninstalled the previous version and reinstall the latest version, it seems to be working now.

[2021-12-28 06:00] #11 closed

[2021-12-28 09:05] itsmeboy0 commented on #3
I have put a checklist of package managers to add since I see that scoop has been added and I use Chocolatey.

[2021-12-28 14:55] dolorain commented on #3
join the microsoft store may better for user get update

[2021-12-29 00:40] alesimula commented on #3
@dolorain I would, but I need help designing an app icon that is not a complete ripoff of the WSA icon (and maybe an icon for apk files), I doubt Microsoft would accept this

[2021-12-29 02:23] Void48 opened #15 "Auto updater for .apks from ApkMirror?"

[2021-12-29 07:04] liudonghua123 commented on #14
I have the same issue.

![image](https://user-images.githubusercontent.com/2276718/147635913-024356fc-79a3-41bc-bb12-3842c9308930.png)

[2021-12-29 11:20] alesimula commented on #14
@liudonghua123 Does [this test version](https://mega.nz/file/Qhk2lKja#Rzg1dnMy5yi2bUMxbgPctzFXVBf-d7FB3oIe0TsbRHk) fix the issue when starting WSA?

[2021-12-29 14:19] kylefmohr commented on #14
Hi @alesimula, I was having the same issue, and after installing the test version, the error regarding gfxstream_backend.dll no longer shows up. Thanks!

[2021-12-29 14:34] alesimula commented on #14
@kylefmohr Great, next update will have this fix

[2021-12-29 22:51] Kevin8675 opened #16 "Should change text colour on blue buttons"
Currently all the buttons (install/cancel) have black text. The Install button (or any button that has a blue background) should have a more bright text (probably white) as the text is not really noticeable.
![image](https://user-images.githubusercontent.com/70042736/147708987-4f153724-bdbb-4c7b-8177-da89191e4cf8.png)

[2021-12-30 08:15] hack003 opened #17 "Add a quick wsa shutdown button"
Add a quick wsa shutdown button

[2021-12-31 06:27] dolorain commented on #3
@alesimula I want to provide some help, but at present I don’t know how to solve it, but I am willing to continue to pay attention to it.

[2021-12-31 14:32] #14 closed

[2022-01-04 07:30] wcxu21 commented on #5
Happy New Year!
Thank you for your work, I can help you translate the simplified Chinese language.

[2022-01-05 21:06] shlomo-shlomo opened #20 "Quick power button does not work"
Thanks for this great software!
But the WSA quick power button does not work for me, I press and it does not turn on the WSA
Only after I open any app is the WSA enabled and then apps can be installed.
with gratitude
Written using Google Translate, I do not speak English.

[2022-01-05 21:09] shlomo-shlomo commented on #20
![fiald](https://user-images.githubusercontent.com/78599753/148289750-82113212-1efc-410f-8a80-9ca0dbc61ec3.gif)

[2022-01-05 21:10] shlomo-shlomo commented on #20
I press like that 👆👆👆 and nothing happens.

[2022-01-06 13:50] shlomo-shlomo commented on #20
@alesimula

[2022-01-06 15:17] alesimula commented on #20
@shlomo-shlomo  do you see (even for a moment) the process WsaClient.exe appear in Windows' task manager?

[2022-01-06 15:21] alesimula commented on #16
@Kevin8675  A different text color on an adjacent button would look weird, but I'm considering using a lighter accent color for light mode, what do you think?
![image](https://user-images.githubusercontent.com/3057584/148405999-58d3b704-b609-4138-a860-79c52700b759.png)

[2022-01-06 15:22] shlomo-shlomo commented on #20
NO.

[2022-01-06 15:48] Kevin8675 commented on #16
@alesimula This colour looks a lot better in my opinion.

[2022-01-06 15:49] alesimula commented on #20
@shlomo-shlomo Alrighty then... please download [this application version](https://mega.nz/file/x9lTDY7Y#KWpK6TrQN2UllfU8M500sj551P--0Akx17ygXwvcB8s) and tell me what you see in this text box (the text is selectible)

![image](https://user-images.githubusercontent.com/3057584/148409935-65bc4d7e-ac03-41d3-81bf-51b7179d1ef5.png)

[2022-01-06 15:52] alesimula commented on #16
@Kevin8675 [Here is a test version](https://mega.nz/file/x9lTDY7Y#KWpK6TrQN2UllfU8M500sj551P--0Akx17ygXwvcB8s) if you want to try it (the "WsaClient path" is related to another issue I'm testing)

[2022-01-06 16:26] shlomo-shlomo commented on #20
@alesimula Errors installing the file ...
![image](https://user-images.githubusercontent.com/78599753/148415672-7ce7104a-ae19-4820-b4d9-8ecd847e6617.png)
![image](https://user-images.githubusercontent.com/78599753/148415681-4d7e46a6-8ac3-44dc-b350-574d99b4c7d8.png)

[2022-01-06 16:30] Kevin8675 commented on #16
@alesimula I just installed the test version and it looks great! Another minor design issue is that in the settings menu, the switches for autostart and icons are not lined up vertically.
![image](https://user-images.githubusercontent.com/70042736/148416078-a1e6cf34-b305-4c4b-9a5b-85940f071b5c.png)
Even though there is an arrow for the icons, I think the switches should line up.

[2022-01-06 16:52] alesimula commented on #20
@shlomo-shlomo just skip the file

[2022-01-06 16:55] alesimula commented on #16
@Kevin8675 I was trying to follow the Windows settings' fluent UI choices

![image](https://user-images.githubusercontent.com/3057584/148420042-98ffc963-021e-4d77-80e8-d8c83656e6e5.png)

![image](https://user-images.githubusercontent.com/3057584/148420068-fe03edf0-84a1-46c0-808f-e1f5dcf1fab2.png)

[2022-01-06 17:03] Kevin8675 commented on #16
Ah I see, makes sense.

[2022-01-09 12:14] alesimula commented on #5
@muhammadbahaa2001 @wcxu21 I added support for localization; Now all it's needed is adding a file inside the 'locale' directory (the "@@locale" property indicates the language)

[2022-01-09 12:26] alesimula commented on #20
@shlomo-shlomo I need your feedback, I cannot replicate this issue and no other user reported it

[2022-01-09 12:50] #16 closed

[2022-01-09 12:51] alesimula commented on #16
@Kevin8675 change released in new version

[2022-01-09 12:55] shlomo-shlomo commented on #20
@alesimula OK, I installed and opened the software:
<img width="543" alt="image" src="https://user-images.githubusercontent.com/What now?78599753/148682982-7ae16cbf-519e-4696-90f2-0a88fa943376.png">
What now?

[2022-01-09 13:02] wcxu21 commented on #5
Chinese translation has been added.

You can change the corresponding name according to your needs, thank you for your work.

[2022-01-09 13:16] Gimmeursocks commented on #5
Added arabic support, hope right-to-left languages are shown correctly.

[2022-01-09 13:22] Gimmeursocks commented on #5
i dont know how to use github doe :) so here is the source code, sorry

    {
    "@@locale": "ar",
    "@locale_desc": {"description": "Full name of the locale in the corresponding language"},
    "locale_desc": "العربية",
    "@locale_system": {"description": "Describes the system locale"},

    "locale_system": "النظام",

    "btn_boot": "تشغيل",
    "btn_switch_on": "مفعل",
    "btn_switch_off

[2022-01-09 13:30] alesimula commented on #20
Can you confirm that file exists? If so, it's strange that it doesn't boot

BTW when you install WSA with the terminal (eg. When installing the Magisk + GApps version) the installation directory will be the directory where you extracted the files into; it's unrelated to this problem, but I recommend not using the Download folder

[2022-01-09 13:33] shlomo-shlomo commented on #20
YES,
<img width="578" alt="image" src="https://user-images.githubusercontent.com/78599753/148684336-cd370d76-4d0c-4b9e-af56-8c00d6afbd55.png">

---
Is it possible to transfer the WSA location after installation?

[2022-01-09 13:36] alesimula commented on #5
@Gimmeursocks it's fine thanks for the translation; I'll check later this evening, might send some screenshots here to confirm it's displayed correcrly

[2022-01-09 13:44] alesimula commented on #20
@shlomo-shlomo Maybe it's possible if you find all registry entries that point to the application, but I haven't tried.

Anyway, at least now I know how to replicate the issue, I'll try to install WSA with Gapps and Magisk and see if a can solve the problem

[2022-01-09 13:47] shlomo-shlomo commented on #20
@alesimula Thanks.
I installed from here https://github.com/LSPosed/MagiskOnWSA

[2022-01-09 13:55] alesimula commented on #20
@shlomo-shlomo Wait, I see the last two folders have a different name; Does copying the exact path you see on the app (except the exe) and pasting it on top of the file explorer brings you to the folder? Also what language is that?

[2022-01-09 14:04] shlomo-shlomo commented on #20
@alesimula Copying the path brings me to the folder, as you can see in the picture
https://github.com/alesimula/wsa_pacman/issues/20#issuecomment-1008299301
The words are My Computer> Downloads.
The language is Hebrew.
But the path is not in Hebrew because the real directory name is downloads, and it is only displayed in Hebrew.

[2022-01-09 14:11] alesimula commented on #20
@shlomo-shlomo Oh, I see, in any case I'll also trying changing the system language just in case that's the problem

[2022-01-09 16:13] alesimula commented on #5
@Gimmeursocks It's not very polished out of the box, but at least it's not completely broken either (just a bit)... might need some work though

![image](https://user-images.githubusercontent.com/3057584/148690614-9587d33e-82fa-4022-a4d2-da0b81aac4ba.png)
^ main screen

![image](https://user-images.githubusercontent.com/3057584/148690656-146fd45f-e660-4b7b-a837-23e04f9fc58d.png)
^ settings

![imag

[2022-01-09 16:17] alesimula commented on #5
Also I now realize I missed a few elements I missed while localizing the app (app version, package, and all selectable options in settings [eg. Dark, Light, System theme; Squircle, Circle icon shapes...])

[2022-01-09 16:20] Gimmeursocks commented on #5
looks so much better than i thought it would be, especially with the font, thank you for your time and for this great program.

[2022-01-09 16:23] Gimmeursocks commented on #5
yeah both the package and version numbers are from left to right, but these are common

[2022-01-09 17:02] akuropka opened #25 "German localization"
[de.zip](https://github.com/alesimula/wsa_pacman/files/7835505/de.zip)

[2022-01-09 17:44] alesimula commented on #25
@akuropka Thanks; BTW I added some new translation entries I had missed before (those starting with "tempname_")

[2022-01-09 17:45] alesimula commented on #5
I added a few translation entries I'd missed: [here they are](https://github.com/alesimula/wsa_pacman/commit/521282007b8b5a9efe62d69996427f75ae3fe6d6)

[2022-01-09 19:40] alesimula commented on #25
@akuropka Here are the final names for the previously missed entries

[code]

[2022-01-09 19:48] alesimula commented on #5
Here is the new entries (with their final name) for previously missing translations:

[code]

[2022-01-09 20:34] akuropka commented on #25
[de.zip](https://github.com/alesimula/wsa_pacman/files/7835869/de.zip)

Actually it's a bit difficult to differentiate between "Squircle" and "Rounded Square" and I think just one of the two layouts are good enough...

[2022-01-09 20:40] muhammadbahaa2001 commented on #5
"settings_option_generic_system": "النظام",
"settings_option_generic_disabled": "غير مفعل",

"theme_mode_dark": "داكن",
"theme_mode_light": "ساطع",
"theme_mica_full": "كامل",
"theme_mica_partial": "جزئي",
"theme_icon_adaptive_squircle": "مربع منحني",
"theme_icon_adaptive_circle": "دائري",
"theme_icon_adaptive_rounded_square": "مربع مستدير",

"installer_info_version": "الإصدار: {appVersion}",
"inst

[2022-01-09 20:40] muhammadbahaa2001 commented on #5
`"settings_option_generic_system": "النظام",
"settings_option_generic_disabled": "غير مفعل",

"theme_mode_dark": "داكن",
"theme_mode_light": "ساطع",
"theme_mica_full": "كامل",
"theme_mica_partial": "جزئي",
"theme_icon_adaptive_squircle": "مربع منحني",
"theme_icon_adaptive_circle": "دائري",
"theme_icon_adaptive_rounded_square": "مربع مستدير",

"installer_info_version": "الإصدار: {appVersion}",
"ins

[2022-01-09 20:45] muhammadbahaa2001 commented on #5
@alesimula here it is...

"settings_option_generic_system": "النظام",
"settings_option_generic_disabled": "غير مفعل",

"theme_mode_dark": "داكن",
"theme_mode_light": "ساطع",
"theme_mica_full": "كامل",
"theme_mica_partial": "جزئي",
"theme_icon_adaptive_squircle": "مربع منحني",
"theme_icon_adaptive_circle": "دائري",
"theme_icon_adaptive_rounded_square": "مربع مستدير",

"installer_info_version": "الإ

[2022-01-09 23:15] #25 closed

[2022-01-10 00:42] akuropka commented on #25
If any new strings you can let me know through this issue or in any other way...

[2022-01-10 00:49] wcxu21 commented on #5
Updated Simplified Chinese translation

[2022-01-11 12:05] akuropka commented on #25
@alesimula, I did some finetuning to make things sound more smooth within the context. 😉
[de.zip](https://github.com/alesimula/wsa_pacman/files/7846296/de.zip)

[2022-01-11 12:10] akuropka opened #28 "[1.2.1] Usabilities in design"
I am wondering about the purpose of this arrow. It does not doing anything obvious on my system.

Those two "|" can be used as separator between both available options, however I don't know if they're really necessary.
I think it would be even better to bring "WSA" and "Settings" closer together e.g. by placing the "WSA" just left of the settings.

The Settings tooltip seems not to have a localisa

[2022-01-11 12:53] alesimula commented on #28
@akuropka The arrow is part of the fluent_ui library's NavigationView widget (I have to check if I can remove it)

As for the button placement. I think it makes more sense for "main" screens to be visualized left-to-right (though there currently is only the "WSA" screen) and secondary (eg. settings) right-to-left; though the first separator is probably unnecessary: I might remove that

BTW the set

[2022-01-12 12:09] fisforfaheem opened #29 "I know this is not the right place but"
brother I love how u made this with the flutter, can u please teach me or guide me I am new to flutter i wanna build apps and becomeu ur student

[2022-01-12 12:52] shlomo-shlomo commented on #20
@alesimula Is there anything new about it? ...

[2022-01-12 13:01] alesimula commented on #29
I'm not exactly a flutter expert (this is my second app and the first one was [a save file thumbnail editor for a videogame](https://github.com/alesimula/DRONE-drone-thumbnail-editor)) but I can give you some pointers.

In flutter by default you can create a meterial design or cupertino design app (using MaterialApp and CupertinoApp) you can learn a bit from the default app is created when creatin

[2022-01-12 13:16] YOSI-COHEN opened #30 "Adding a Hebrew language"
Hello.
Your software is very helpful to us, can I add Hebrew?

[2022-01-12 13:18] alesimula commented on #20
@shlomo-shlomo trying it out right now

[2022-01-12 13:22] alesimula commented on #30
Yes, of course; keep in mind you can remove all entries starting with @ exept @@locale (maybe also keep "@locale_desc" to describe the language in english, while "locale_desc" should have the language name in Hebrew)

[2022-01-12 13:48] alesimula commented on #20
@shlomo-shlomo I don't know why, but starting WSA from the app directory won't work (With the Magisk/Gapps version), only starting it from %LOCALAPPDATA%\Microsoft\WindowsApps\MicrosoftCorporationII.WindowsSubsystemForAndroid_8wekyb3d8bbwe

[2022-01-12 13:55] fisforfaheem commented on #29
Thank you so much! I am a beginner in flutter and want to make it the only thing to make a career in!

Thanks for so explanation. Also If I would love to be a part(intern/student/dev) for you.

Thanks, Faheem Ahmad
fisforfaheem@gmail.com

[2022-01-12 14:12] alesimula commented on #30
@YOSI-COHEN BTW keep in mind I still have to fix right-to-left UI (at the moment it kind of works but looks absolutely terrible)

[2022-01-12 15:28] shlomo-shlomo commented on #20
@alesimula I did not really understand what I needed to do so I could use the quick power button for my WSA.

[2022-01-12 15:33] alesimula commented on #20
@shlomo-shlomo What I'm trying to point out is starting the WSA's .exe file directly works with the official WSA, but not with the Magisk+Gapps one, I might need to use a workaround and start the executable located in appdata instead (which seems to works)

[2022-01-12 16:33] alesimula commented on #20
I'll just write this here to keep track of this issue's possible solutions

`start shell:appsFolder\MicrosoftCorporationII.WindowsSubsystemForAndroid_8wekyb3d8bbwe!App`

`explorer.exe wsa://`

[2022-01-12 22:02] fisforfaheem commented on #29
Thanks, I am working a project with my friend ( flutter web project ADMIN
SIDE), It's about patients and doctors and CRUD operations etc (for now)
Can you take a look at it for me.. I am having a few issues, If you are you
could guide/help me with that, When free do let me know:

[image: image.png]
I have to implement this I have already some work..but having issues with
CHARTS,and push notificati

[2022-01-12 23:27] alesimula commented on #20
@shlomo-shlomo I might have found a workaround, could you confirm the bug is fixed in [this test version? (portable)](https://mega.nz/file/x0VQBTAT#VrVzYuR-0vUnqdbkW82gnuEDGEhW6HUdmeKe5JZM-xw)

[2022-01-13 06:10] jianguyuxing opened #31 "[1.2.1] can't install apk when filename is Chinese"
thanks 4 your great software.
I cant install apk when file name is Chinese, the window always shows loading.
When I rename file in English,it works fine

wsa_pacman version is 1.2.1
![image](https://user-images.githubusercontent.com/22949781/149274975-e089e6dd-6f0c-4dc3-a359-2f13d00fb544.png)

![image](https://user-images.githubusercontent.com/22949781/149275621-6277445f-d8a5-4578-91da-cc7d7a9a206

[2022-01-13 07:41] alesimula commented on #31
@jianguyuxing what's the filesystem of the storage device where the .apk is? (NTFS, Fat32...)

[2022-01-13 09:07] Wizards-god commented on #31
I'm not very sure if this is the reason but, as far as my ADB knowledge goes, I don't think ADB(the shell) can recognise non-English characters. And also, sometimes it does not work if the filesystem in which the adb.exe file is stored is not the same as the filesystem in which your apk file is stored(i see that your apk file is in F drive, and wsa_pacman and ADB are most likely in C drive). So, t

[2022-01-13 10:11] alesimula commented on #31
@jianguyuxing @Wizards-god This is most likely related to a limitation I found for aapt.exe, in fact it appears not to work at all with Unicode characters (eg. `aapt.exe dump badging {SOMECHINESETEXT}.apk`)

I "overcame" it by using the short file name - if present - which is always in ASCII, but this might be disabled in windows, and as far ad I know not all filesystems support it

[2022-01-13 10:30] shlomo-shlomo commented on #20
@alesimula Yes, it works :)
Well done!!

[2022-01-13 13:18] basharast opened #32 "Add support for xapk"
Hi, I really thank you for this app and for your continues development,
I hope if it's possible to add `.xapk` support in the future so it will be easier than using XAPK installer from _Google Store_

I found something related to `xapk` installation via `adb` [HERE](https://android.stackexchange.com/questions/221204/how-to-install-xapk-apks-or-multiple-apks-via-adb)

Many thanks.

[2022-01-13 17:12] alesimula commented on #5
@muhammadbahaa2001 @Gimmeursocks I'm going to release a better RTL interface on the next update, here's my progress:

![image](https://user-images.githubusercontent.com/3057584/149376593-7ce59389-173f-4efc-902a-8fc11d48858b.png)
![image](https://user-images.githubusercontent.com/3057584/149376644-462f1b6e-2c94-41ce-9485-cd098fd0e33e.png)
![image](https://user-images.githubusercontent.com/3057584/1

[2022-01-13 18:13] muhammadbahaa2001 commented on #5
@alesimula Your work is incredible and wonderful!
well done bro, thank you for listening for the feedback / request.

[2022-01-13 22:49] alesimula commented on #20
@shlomo-shlomo latest version released with the fix

[2022-01-13 22:49] #20 closed

[2022-01-13 22:54] alesimula commented on #30
@YOSI-COHEN I fixed the UI for right-to-left languages.

If you don't know how to make a translation, just add a file to the locale folder (You may use [en.arb](https://github.com/alesimula/wsa_pacman/blob/main/locale/en.arb) as a base) or just send the file to me;

[2022-01-13 22:57] Gimmeursocks commented on #5
thank you for your continued support for including arabic, have a pleasant evening.

[2022-01-14 02:54] akuropka opened #33 "[1.2.2] After sucesfully updating an app the window gives just "Cancel" as an option"
I updated the following app through wsa_pacman: [Opera beta 67.0.3485](https://www.apkmirror.com/apk/opera-software-asa/opera-beta/opera-beta-67-0-3485-62523-release/opera-browser-beta-67-0-3485-62523-4-android-apk-download/download/)

The update succeeds, however the only option given in the final dialog was "Cancel" while one for starting the app or regular closing the window is missing. Also, I

[2022-01-14 03:00] akuropka commented on #28
@alesimula, thank you for your efforts always... 😀

I was noticing two more things:

- Maybe a small "About us" section would be helpful (application name, version, GitHub reference, maybe other details). I know the version is shown in the top bar, yet, I think it is something common.
- The Desktop peek seems to be in dark mode independent of the theme used.

![20220114_035637_1](https://user-imag

[2022-01-14 03:11] akuropka commented on #32
From what I know xapk is basically apk and obb combined and used by unofficial stores to distribute obb files. I guess on APKpure you can find such apps.
More interesting would be apkm which are bundled files for different languages/systems. Chrome is for example distributed as apk and apkm which may help to understand differences.
The official [APKMirror installer](https://www.apkmirror.com/apk/a

[2022-01-14 07:39] alesimula commented on #33
@akuropka I don't think the update is involved as I didn't change the logic that determines if an app should be able to be started... Though it's probably wrong, and might need to improve it (some qpps [eg. Play Services] don't have a launch activity and an icon)

[2022-01-14 07:41] alesimula commented on #33
@akuropka BTW the installer never had window buttons and doesn't need them: you can drag/drop from any point, the cancel button acts as a close button and it can't be resized

[2022-01-14 07:50] alesimula commented on #28
@akuropka hmmm it's showing up as transparent, it might be a bug with the [Flutter Acrylic library](https://github.com/alexmercerind/flutter_acrylic)

[2022-01-14 08:43] akuropka commented on #33
btw is there any way to trace things by enabling debugging or logging? That would be a nice feature to follow up things...

In such cases it may be better to title the button "close" as it is not about cancelling an operation but closing the window after running it (matters not if failed or not).

I think at least a close button (`X`) in the top right is something every window in Windows should ha

[2022-01-14 09:07] alesimula commented on #33
@akuropka In English the buttons are "Cancel" before installation and "Dismiss" after installation, I'm noticing now they are the same on the German translation file

If you know a more appropriate term, please edit the "installer_btn_dismiss" property on the locale/de.arb file

[2022-01-14 09:36] akuropka commented on #33
Okay, misinterpretation from my side, sorry. I understood "dismiss" rather for something like "discard" (e.g. saving without changes) and not "Close". Tricky world...

[2022-01-14 09:36] akuropka commented on #25
@alesimula, attached the reworked file for "dismiss".
[de.zip](https://github.com/alesimula/wsa_pacman/files/7869363/de.zip)

[2022-01-14 09:52] alesimula commented on #33
@akuropka BTW I don't know German so you'd probably know better, I thinks the "installer_btn_cancel" and "installer_btn_dismiss" shouldn't have the same value (unless it really makes sense in German) so if you want to propose a change, you're welcome to do so

[2022-01-14 09:59] alesimula commented on #33
@akuropka No worries :)

[2022-01-14 10:07] YOSI-COHEN commented on #30
Hello
I do not know and do not have time to translate.
If you can you will translate
Thanks

[2022-01-14 11:31] Madrichim-App commented on #20
@alesimula Thank you!

[2022-01-14 12:21] alesimula commented on #30
@shlomo-shlomo Maybe you could help, if you'd like

[2022-01-14 12:30] Madrichim-App commented on #30
@alesimula I would love to try, what should be done?
I see that some lines contain "@" and some do not
I also see a line like this:
`    "@status_subtext_winver_older": {"description": "Only used inside 'status_unsupported_desc', modify taking this in consideration"},
`This word: `description` Do not translate? I'm right?
I would love an explanation.

[2022-01-14 12:32] shlomo-shlomo commented on #30
@alesimula I would love to try, what should be done?
I see that some lines contain "@" and some do not
I also see a line like this:
`    "@status_subtext_winver_older": {"description": "Only used inside 'status_unsupported_desc', modify taking this in consideration"},
`This word: `description` Do not translate? I'm right?
I would love an explanation.

[2022-01-14 16:58] alesimula commented on #30
@shlomo-shlomo those are like comments that describe the value, so they're not needed: you can safely remove all values starting with @ except @@locale (which is the language tag); I'm also keeping "@locale_desc" on all files, so i can use "locale_desc" to indicate the language name translated to the language itself, and "@locale_desc" is the name of the language in english (so for French, the val

[2022-01-14 19:22] Curious-r opened #34 "[Function suggestion] Would you please add DPI adjustment function?"
Adjusting to a specific DPI allows some applications to enter Pad Mode. This function is very usefull for users of wechat.
BTW, thanks for your nice software!

[2022-01-15 19:18] alesimula commented on #32
@akuropka @basharast I also [found here](https://www.ldplayer.net/blog/How-to-form-a-xapk-file.html) an xapk file may also contain split apk files. I'd need at least an example (but I'd prefer many) of xapk files

[2022-01-15 19:19] shlomo-shlomo commented on #30
@alesimula I made a Hebrew language file here:
https://github.com/shlomo-shlomo/wsa_pacman/blob/main/locale/he.arb
If you can make a trial version that contains this, so I can fix some translations I was not sure what to write because I did not know where in the software the string appears.
I would love if you could give credit for the translation; You can give a link here: https://madrichim.ovh/u

[2022-01-15 19:30] akuropka commented on #32
[PUBG Mobile](https://m.apkpure.com/de/pubg-mobile-for-android/com.tencent.ig/download/15905-XAPK-8e520f8a079e133becb3e628f9b8048d)
[Among Us](https://m.apkpure.com/de/among-us-i/com.innersloth.spacemafia/download)
[Google Duo](https://m.apkpure.com/de/google-duo/com.google.android.apps.tachyon/download)
[Web.de Mail](https://m.apkpure.com/de/web-de-mail-cloud/de.web.mobile.android.mail/download)

[2022-01-15 20:45] alesimula commented on #30
@shlomo-shlomo I will thanks; BTW I see the entries for "status_offline" and "settings_port" are not translated

[2022-01-15 20:50] shlomo-shlomo commented on #30
@alesimula I did not translate it on purpose - because I did not know how clearer, in Hebrew or English (in this case it is a known word).
So I left it between a few more minor fixes, to the test version I requested earlier :)

[2022-01-15 20:56] alesimula commented on #30
[Here it is](https://mega.nz/file/lw8izaQL#xuFVSum5AXOYOF6Jh9rpsiwTUCwBKo6r28XsSQk7JTI)

[2022-01-15 21:38] alesimula commented on #32
@akuropka Hmm, I'm still trying to understand what apks I should install; some are obvious (eg. config.it.apk config.en.apk.... config.arm64.apk); some are way less obvious: for example, the [Chrome browser](https://m.apkpure.com/de/google-chrome-fast-secure/com.android.chrome) has some files like vr.apk, weblayer.apk, extra_icu.apk, chrome.apk (which is not the base apk) etc...

The manifest does

[2022-01-15 22:06] shlomo-shlomo commented on #30
@alesimula
https://github.com/shlomo-shlomo/wsa_pacman/commit/77cf8234fa0be1ced6b76a96448206fc1c389d11
https://github.com/shlomo-shlomo/wsa_pacman/commit/c9eb78d9821d67f45b8bfa5f59631bab91b722a6
I fixed some small things, now it's good! 🙂
By the way, when I installed in Windows Server 2016, it did not inform me that it was not supported on Windows 10 - rather the software crashed immediately at st

[2022-01-15 22:49] alesimula commented on #30
@shlomo-shlomo weird... Not sure it's worth the trouble of setting up a virtual machine to troubleshoot it since it's not supported anyway

[2022-01-16 00:14] itsmeboy0 commented on #15
Looks like this is out of scope for this project. I suggest using [AuroraStore/AuroraDroid](https://auroraoss.com/) and managing updates from there.

[2022-01-16 00:17] alesimula commented on #30
v1.2.3 has been released 🎉

[2022-01-16 00:17] #30 closed

[2022-01-16 02:03] shlomo-shlomo commented on #33
👍👍

[2022-01-16 02:12] shlomo-shlomo opened #37 "Icon for the installation file"
@alesimula I know this is not important, but the installation file of the software is without the beautiful icon of wsa paman ... By the way, how do you pack the installation? I would love to know, it looks like a good tool. Thanks!

[2022-01-16 03:42] shlomo-shlomo commented on #17
@hack003 It's built into the subsystem settings, but it's not a bad idea at all.

[2022-01-16 03:47] shlomo-shlomo commented on #32
@alesimula Maybe https://apkpure.com/xapk.html will help

[2022-01-16 07:44] akuropka commented on #32
The _basic_ procedure for installing `xapk` is:
1. `unzip` xapk
2. `adb push` obb file(s), if any, to the device
2. `adb install-multiple` all apks fitting the architecture including all languages while the base should be listed first

[2022-01-16 08:49] alesimula commented on #37
I'm using Inno Setup, look at the (installer.is)[https://github.com/alesimula/wsa_pacman/blob/main/installer/installer.iss] file to see how I configure it

[2022-01-16 08:51] alesimula commented on #17
Only issue is: I actually don't know hot to shut it down "gracefully", I could just run a command to terminate the process, but that seems unsafe

[2022-01-16 08:54] alesimula commented on #32
@akuropka so just install everything? Ok

[2022-01-16 09:17] akuropka commented on #32
Yes, as long as architecture fits. 💪
You’re usually installing all language files as user may change locale from Android settings.

[2022-01-16 09:21] alesimula commented on #32
@akuropka only issue is all xapk I found so far only have a arm64 architecture file

[2022-01-16 09:40] basharast commented on #32
I guess the _arm64_ is _config_ file,
the **main** package will be under the `com.example.app.etc` without architect,
you may need to skip that _arm64 config_ but it will subject to the test..
basically it's possible for x86,x64 emulator to emulate the android apps as they are.
usually I can test the same app in both mobile and PC no architect specified.

[2022-01-16 10:21] alesimula commented on #32
@basharast yeah, without any architecture configuration the app would just crash, with arm64_v8a it will at least play the intro and home screen music, that's... sus

[2022-01-16 10:51] akuropka commented on #32
There are different architectures available, some are not supported by Android itself anymore but still may be supplied by the user for installation. Some I just have in mind are `armeabi`, `armeabi-v7a`, `arm64-v8a`, `x86`, `x86_64`, `mips`, `mips64`. If there's an `x86_64` then only this one should be applied. The config_arch apks include platform sepcific libraries. However, all is depending ag

[2022-01-16 11:04] akuropka commented on #25
@alesimula, did some minor modifications:
`installer_btn_starting` - I interpret this as WSA is starting and clarified it
`installer_btn_loading` - I did not come across this message yet, does it mean the app is loaded into WSA pacman?

[de.zip](https://github.com/alesimula/wsa_pacman/files/7876800/de.zip)

[2022-01-16 11:14] akuropka commented on #31
Why don't you copy the apk file to a compliant name to work further on it? After processing just delete it again.

[2022-01-16 11:29] alesimula commented on #25
`installer_btn_loading` is shown while the app information is still being parsed... though that's usually so quick it won't even show up;

`installer_btn_starting` is shown on the installer button when you enable the "Autostart WSA before installation" option and WSA was shut down.

[2022-01-16 11:31] akuropka commented on #25
Great, so both fit now better. 😉

[2022-01-16 11:37] alesimula commented on #25
@akuropka I think having the ellipsis would still be better though ("Starte WSA..." / "Lade App...")

[2022-01-16 11:42] akuropka commented on #25
Yes, thanks for double checking. I was removing them based on the other texts but this is a continuous state and not a button waiting for user input, so...

[2022-01-16 11:51] alesimula commented on #25
@akuropka it's just to let the user know he has to wait and an operation is in progress

[2022-01-16 11:53] akuropka commented on #25
Yes, that's why `...` should be added, thanks for the hint.

[2022-01-16 12:48] alesimula commented on #31
@akuropka that would work, though it's kind of a "dirty" solution

[2022-01-16 13:09] akuropka commented on #25
Attached traditional Chinese (`zh_HK`, `zh_SG`, `zh_TW)`.

[zh_TW.zip](https://github.com/alesimula/wsa_pacman/files/7876985/zh_TW.zip)

[2022-01-16 13:32] akuropka commented on #31
Yep, but it may be the easiest. I always try to avoid Chinese characters in filenames...
The ASCII requirement is unlikely to change ([code](https://android.googlesource.com/platform/frameworks/base/+/master/tools/aapt/AaptAssets.cpp)) but you may build your own version of aapt.
Other ideas would be extracting the APK and read the AndroidManifest.xml or parse it directly from the APK. Maybe there

[2022-01-16 14:10] shlomo-shlomo opened #38 "Application icons"
@alesimula Is there a situation where the icons of the apps are real - that is, of the app image, as in file explorers on Android devices?
And not everyone is the same, with the PacMan logo ...
This will help a lot!
Thanks.

[2022-01-16 14:35] ABOATDev opened #39 "Infinite loading"
![image](https://user-images.githubusercontent.com/30906528/149663997-408e3c8d-9f14-46d9-98d3-b579dfa1a8e1.png)
Infinite loading for install an apk

My apk :
https://anonfiles.com/rcP7DeBbx7/ELYZE_-_Pr_sidentielle_2022_1.1.95_apkcombo.com_apk
Official link :
https://play.google.com/store/apps/details?id=com.lesengages.elyze
(generate by https://apkcombo.com/fr/apk-downloader/?package=com.lesengage

[2022-01-16 14:59] alesimula commented on #25
@akuropka should I map this to every zh localization **_except_** zh_CN?

[2022-01-16 15:07] alesimula commented on #31
@akuropka currently I'm using aapt.exe for three operations: `aapt.exe dump badging`, `aapt.exe dump strings` and `aapt.exe dump resources`; BTW aapt2.exe works with unicode characters but some of its contents are unreadable for some reason (eg. icon file);

Maybe there's a way to convert the UTF-16 file name to ASCII in a way that it works with appt.exe

[2022-01-16 15:12] alesimula commented on #38
@shlomo-shlomo If you mean showing every app icon in the Windows file explorer instead of the WSA-PacMan logo, that wouldn't be ideal: parsing the apk icon is a relatively CPU/RAM heavy operation, doing for a single file at a time is fine, but doing it for every apk on the currently open folder (leaving feasibility aside) would be tremendously heavy

[2022-01-16 15:12] #38 closed

[2022-01-16 15:16] alesimula commented on #39
@ABOATDev Hmm it's working for me.

![image](https://user-images.githubusercontent.com/3057584/149665978-c12c0ea8-2888-4480-8e99-c0864d1d8c13.png)

Are you sure the file is not corrupted? have you tried downloading it again?

[2022-01-16 15:17] shlomo-shlomo commented on #38
@alesimula OK, too bad.
Do you know any software that knows how to do this?
By the way, how on Android devices does it display icons, and even dozens of files at once?

[2022-01-16 15:19] akuropka commented on #25
`zh` should be `zh_CN` simply because more people are using it (this includes `zh_SG`).
Traditional (`zh_TW`) would be also `zh_HK`, `zh_MO`.
I think those are the relevant ones in Windows.

[2022-01-16 15:32] alesimula commented on #38
@shlomo-shlomo I don't know any software that does.

As for Android devices, being apk files a native Android extension, there are certainly libraries written by google that do exactly that and do it very efficiently.

I had to rely on tools like aapt.exe and aapt2.exe to read package information, my modified version of axmldec.exe to decode binary XML files without decompiling the whole apk file,

[2022-01-16 21:14] shlomo-shlomo commented on #30
@alesimula I also created an updated tutorial video about the software in Hebrew :)
https://youtu.be/bra7vqG1Kvg

[2022-01-17 11:26] alesimula commented on #29
@fisforfaheem never used firebase but I can take a look at it anways if you want, cannot dedicate too much time to it though as I'm also working full-time

[2022-01-17 11:26] #29 closed

[2022-01-17 19:15] alesimula commented on #39
@ABOATDev Actually nevermind, this is apparently related to [this issue](https://github.com/alesimula/wsa_pacman/issues/31);

I'm closing this as a duplicate but linking this there

[2022-01-17 19:15] #39 closed

[2022-01-17 20:35] alesimula commented on #31
@akuropka your suggestion gave me an idea: I tried to create a symlink of a file with unicode characters and read it with aapt.exe... it worked, so I guess I'll implement it this way

[2022-01-18 15:02] akuropka commented on #31
What about processing all inside WSA? Push the apk to WSA, process it there to get all needed data and then use pm install?

[2022-01-18 16:16] alesimula commented on #31
@akuropka That would (obviously) require an active connection to the device (so won't show any apk info when WSA is off), and I don't even know if the Android terminal allows me to parse information from an apk file

[2022-01-18 17:55] akuropka commented on #31
… or just check first if name is ASCII and if not throw an error.

[2022-01-19 08:26] jianguyuxing commented on #31
sorry to reply too late. the fileSystem of the storage device is NTFS

[2022-01-19 08:48] jianguyuxing commented on #31
@Wizards-god
I moving apk file to the driver where wsa_pacman  storaged, but it doesn't work.

[2022-01-20 04:46] stephanoskomnenos opened #40 "Add support for proxy settings"
Hi.
I hope if it's possible to add proxy settings to this app's settings page.

We could use adb to set proxy:
`adb shell settings put global http_proxy <ip:port>`
where the `ip` is the IP of your Windows machine for `vEthernet (WSL)` interface.

(**On my machine** it is `vEthernet (WSL)` interface, but I don't know if it will be different on other machines. )

[2022-01-20 21:57] fisforfaheem commented on #29
https://4ezonedashboard.netlify.app/ here is my app  can u look at it

[2022-01-20 21:57] fisforfaheem commented on #29
i can share my github with ua s well

[2022-01-21 10:42] akuropka opened #41 "App version information truncated"
I noticed that the app version is truncated due to any reason... maybe some characters (`|`)need to be escaped?
![20220121_112814_explorer](https://user-images.githubusercontent.com/22570574/150513458-e660a7f1-2041-4e9d-a5cb-46912a82997f.png)

[2022-01-21 19:19] AlecMcCutcheon opened #42 "[Feature suggestion] backup Windows Subsystem for Android apps and data"
WSATools is going to be getting this Feature soon but I like your tool more so if you added this we wouldn't have to have 2 apps for managing our WSA install.

[2022-01-21 19:39] alesimula commented on #41
@akuropka Ah yeah I did that on purpose to fit the text

[2022-01-21 20:45] AlecMcCutcheon commented on #42
Also you should add a button to open the android settings

[2022-01-22 14:44] alesimula commented on #42
@AlecMcCutcheon there's already a button to open the settings

[2022-01-22 17:08] AlecMcCutcheon commented on #42
I don't mean the Windows 10 wsa settings I mean like the Android settings

[2022-01-22 17:44] AlecMcCutcheon commented on #42
Oh i see that now by bad

[2022-01-23 00:41] alesimula commented on #31
@akuropka I might have found a little trick to create a pseudo-symlink to the apk file without admin rights (still working on it but with promising results)

[2022-01-23 02:37] alesimula commented on #31
@akuropka @jianguyuxing @Wizards-god [Here is a test installer](https://mega.nz/file/dl1iEQoa#khYjOZlZaqu3y_WRUf8EIiXIIDBNzAgzgyVZCtTMWqo) with the "fix", this one only uses the symlink method for any apk file (even ones with acceptable names) so you can tell me right away if it works or not; of course, the final version will only use this method as a last resort.

Hope no antivirus detects it....

[2022-01-23 04:50] Wizards-god commented on #31
@alesimula It works for me, The apk name I tried was '向导.apk' (means Wizard if you're curious). It did take some time to show up, but it worked as expected. And McAfee didn't consider it a virus. So this can probably be used as a last resort option.

[2022-01-23 08:10] akuropka commented on #31
👍 seems to do the trick 😎

[2022-01-23 17:01] Jonathan003 opened #43 "example apk file to test if everything works"
Where can I find some example apk file to test if it works?
I would be nice to include an example apk file

[2022-01-23 18:37] #31 closed

[2022-01-23 18:38] alesimula commented on #43
@Jonathan003 Are you referring to the latest fix or in general? Anyway I'd say ApkMirror

[2022-01-23 18:55] akuropka commented on #31
@alesimula, just discovered it seems those symlinks (BaseNamedObjects) are not cleaned up...
![20220123_195203_explorer](https://user-images.githubusercontent.com/22570574/150693502-4107da37-9593-42b3-ba4c-bc153263aafd.png)
![20220123_195352_explorer](https://user-images.githubusercontent.com/22570574/150693507-aad24f84-92fa-4b84-a6ca-44d7b772650e.png)

[2022-01-23 18:58] alesimula commented on #31
@akuropka you mean those on the temp dir? I wasn't cleaning them up in the test version, but they should be cleaned up if you use the latest release

[2022-01-23 19:02] akuropka commented on #31
Okay, my bad, latest release is installed but did not try it yet. 😬

[2022-01-23 20:39] Jonathan003 commented on #43
I mean in general. Thanks for the tip.

[2022-01-23 20:39] #43 closed

[2022-01-25 20:03] MCorbo7 opened #44 "3D games either don't display 3D graphics or crash"
Hey. I tried two games, Sonic 2, which doesn't display any 3D graphics, and Genshin Impact, which crashes as soon as the game starts downloading the required files.

[2022-01-26 19:15] alesimula commented on #44
@MCorbo7 This is a WSA issue, you should take it up to Microsoft

[2022-01-26 19:15] #44 closed

[2022-01-27 19:24] martinet101 opened #45 "[BUG] Wrong automatic language"
Language changed to arabic (it changed automatically - i have no idea of arabic)

I solved it with google lens, but just to let you know that the following locale perferences (the ones in my pc):
 - Catalan
 - Spanish (Spain)
 - English (UK)
 - Italian (Italy)
 - French (France)

Just led to arabic being set as the default language.

[2022-01-28 06:10] jianguyuxing commented on #31
it seems still useless. the version of wsa is 1.2.4
![image](https://user-images.githubusercontent.com/22949781/151496144-37e43fff-9c8f-4622-96da-c0e9323e0273.png)
![image](https://user-images.githubusercontent.com/22949781/151496267-67695880-bde6-42c6-ac05-d341e4f4ecbd.png)
@alesimula

[2022-01-28 08:36] akuropka commented on #31
Just fyi,
I didn't find the version of CoolApkMarket yiou were trying to install but renamed the most recent one and it works at my end.
![20220128_093248_explorer](https://user-images.githubusercontent.com/22570574/151514069-4656849e-40e8-459c-b2c1-10e8b485b401.png)

[2022-01-28 09:32] Wizards-god commented on #31
It worked for me too  @jianguyuxing. Not sure why it didn't work for you

[2022-01-28 11:08] alesimula commented on #45
@martinet101 What version are you using?

[2022-01-28 15:26] martinet101 commented on #45
Ok, yes, i though i was running the latest but I didn't Sorry for wasting your time :(

[2022-01-28 15:26] #45 closed

[2022-01-28 19:12] akuropka commented on #31
My _guess_ would be, @jianguyuxing, that your temp folder (full string) does not only include ASCII...

[2022-01-28 22:09] alesimula commented on #45
@martinet101 no worries, I immediately recognized the bug as it was a stupid mistake I made (it picked the first locale from alphabetical order as fallback language)

[2022-01-28 22:11] alesimula commented on #31
@akuropka that would not matter, I set the working directory of aapt.exe to where the file (or shortcut) is to avoid this being a problem

[2022-01-29 17:29] alex-sandro92 opened #46 "[Feature suggestion] Transfer files from PC to WSA and viceversa"
You can simply add a button which allows to select a file, then performs "adb pull" or "adb push". This would be very useful imo

[2022-01-30 12:05] akuropka commented on #42
@AlecMcCutcheon, you can backup and restore `%LocalAppData%\Packages\MicrosoftCorporationII.WindowsSubsystemForAndroid_8wekyb3d8bbwe\LocalCache\userdata.vhdx` manually.

I was using [WSATools](https://github.com/Simizfo/WSATools) in the beginning... it was the first one of its kind and is work of Simone both make it famous. Aside of that it is closed source and wsa_pacman is overall more smooth in

[2022-01-30 13:09] akuropka opened #47 "Newly set up WSA cannot be started through wsa_pacman"
**Prerequisites:**
- Windows Subsystem for Android is freshly installed (no userdata exists)
- In Windows Subsystem for Android Settings developer options are enabled

**Steps**
- Start wsa_pacman
- Try to start Windows Subsystem for Android from there

**Expected bevavior**
- Windows Subsystem for Android starts

**Actual behavior**
- The mouse pointer changes shortly but nothing else happens

**

[2022-01-30 13:18] akuropka opened #48 "Option for creating desktop shortcut for apps which cannot be launched independently"
Depending if an app can be launced by its own there's an option to open the app after installation.
The option for creating a desktop shortcut should be handled in the same way as it would not make a sense to create a shortcut for an app which cannot be launched that way...

![20220130_141403_WSA-pacman](https://user-images.githubusercontent.com/22570574/151701392-af1f45a2-9b6d-416e-a107-4131b0459

[2022-01-30 13:52] alesimula commented on #48
@akuropka The reason I kept this option anyway is that for some apps, [as reported in this stackoverflow question](https://stackoverflow.com/questions/45440947/aapt-dump-badging-of-apk-does-not-list-any-launchable-activity-for-activity-alia), aapt.exe does not report any launchable-activity, even though there is one.

This is a minor problem for launching the app as you can just launch it later an

[2022-01-30 13:55] akuropka commented on #48
Okay, just thought it would be inconsistent…

[2022-01-30 13:55] #48 closed

[2022-01-30 13:57] akuropka commented on #41
Thank you for your information… no issue since it’s intended.

[2022-01-30 13:57] #41 closed

[2022-01-30 15:30] AlecMcCutcheon commented on #42
You're right. It Doesn't have to have all kinds of features,  And thank you for the tip I had no idea there was just a virtual disk for that.  Any idea what extensions are used in VS code in order to get the project booted up myself I would be happy to contribute code myself.  I have tried to load it up yet but it's just asking before I dig into it

[2022-01-30 17:22] alesimula commented on #42
@AlecMcCutcheon I just use the [Dart extension](https://marketplace.visualstudio.com/items?itemName=Dart-Code.dart-code), the [Flutter extension](https://marketplace.visualstudio.com/items?itemName=Dart-Code.flutter) and the [vscode-proto3 library](https://marketplace.visualstudio.com/items?itemName=zxh404.vscode-proto3) (only used for the \proto\options.proto file).

Of course you must install Fl

[2022-02-01 02:04] itsmeboy0 commented on #46
Android Studio already provides this:
![image](https://user-images.githubusercontent.com/75471378/151902375-5a829bd4-495d-420d-adfb-798c06b21c2d.png)

But I know its not a good idea to install a full-on ide for that. This may be what you're looking for:
https://github.com/ibilux/MobyDroid

[2022-02-06 11:08] Nothing9495 opened #49 "The highlight bar at the bottom of the "Settings" icon is not centered."
In the pictures below, you can see that the highlight bar at the bottom of the "Settings" icon is a little out of the center.
![issue](https://user-images.githubusercontent.com/90544246/152677476-0878e421-5f30-4d99-b318-afc5c853dee0.png)
![Screenshot 02-06-2022 184317](https://user-images.githubusercontent.com/90544246/152677478-66bae91b-1195-4c23-b68d-a3f9e9c4cf5d.png)

[2022-02-07 17:59] radoslawkierznowski opened #50 "Unable to connect to WSA"
Despite the fact that the WSA programming settings are enabled, the program does not work. Has anyone met with such a problem and knows the solution? The message is displayed a few seconds after pressing the "Turn on" button. WSA generally works because the Amazon AppStore and File Manager run.

![image](https://user-images.githubusercontent.com/2386672/152844363-6178be60-2495-4315-852c-19ccf91e98

[2022-02-08 12:27] BaksymTeam opened #51 "Incompatibility with screen readers"
The problem is with the interface...
Where are screen readers for Windows! You do not interact as required with the program interface.
Please modify the interface to suit screen readers; Because this package is very much needed by us blind people.
Tip: The best way is to interface the buttons and options, tiled, not aligned.
I can help you with the code if you wish.
Greetings: #The Blind_Yemen_Pro

[2022-02-09 22:41] FullyRealist opened #52 "Moved from the incorrectly named directory and update Russian translation"
Greetings!
I decided to make my small contribution to the development of this project and created a translation into **Russian**. I hope it will be added to the release in the future

Also, please consider #54 #53 pull requests, one of which removes the directory is not needed due to a translation error of the directory itself and add to the _folder "locale"_ updated translation into Russian

[2022-02-10 10:55] MmyGgithubAaccount commented on #32
Instead of installing every language split apk, it might be better to let the user choose which ones they might want to install like how [SAI](https://github.com/Aefyr/SAI) does

[2022-02-10 22:14] #52 closed

[2022-02-11 11:46] LakshBhagat commented on #50
found any fix?

[2022-02-11 13:16] radoslawkierznowski commented on #50
Unfortunately, no. Do you have a potential solution or the same problem?

[2022-02-11 14:09] LakshBhagat commented on #50
I Just reset the subsystem settings  in the windows app settings ,, installed wsa pacman again  and then restarted,, Now its working fine.........

[2022-02-11 14:53] radoslawkierznowski commented on #50
Thanks, in my case the procedure was similar, because reinstalling the application did not help.
1. I restored the subsystem settings and disabled the subsystem.
2. I enabled the subsystem from within WSA PacMan.
3. I enabled the subsystem development tools.
4. I disabled the subsystem.
5. I enabled the subsystem from within WSA PacMan.

[2022-02-12 20:01] rp1231 opened #56 "Auto Turnoff feature"
Hi,

It would be great if there was some sort of auto turn off feature for WSA if the Pacman installer is exited and there are no other
WSA apps running at that time.

Thanks

[2022-02-13 11:24] alesimula commented on #56
@rp1231 WSA already does that on its own, you should just set "Subsystem resources" to "Continuous" in Windows Subsystem for Android Settings

[2022-02-13 11:24] #56 closed

[2022-02-14 12:46] alesimula commented on #56
@rp1231 EDIT: I just realized I told you the opposite option, you should select "As needed", not "Continous"

[2022-02-14 13:38] rp1231 commented on #56
Thanks for the clarification.
I thought it was a little strange 😂

[2022-02-15 18:28] alesimula commented on #32
@basharast @akuropka @MmyGgithubAaccount @ShlomoCode I added xapk support (with obb support).
For now it installs all language options and only one architecture option (best matching one, it prefers amd64 archs)

[2022-02-15 18:28] #32 closed

[2022-02-15 18:39] ShlomoCode commented on #32
Where from?

[2022-02-15 18:49] alesimula commented on #32
@ShlomoCode they're temporally extracted inside a folder in %temp% (Which would be "C:\Users\YOUR_USERNAME\AppData\Local\Temp"); as I said, they will be immediately cleaned up so you don't have to worry about them

[2022-02-15 19:10] alesimula commented on #51
@BaksymTeam not sure I understood how to correctly how to implement this, but I'd like to improve accessibility for my app. I'd probably have to directly edit some of the @bdlukaa 's fluent_ui classes (I'm already using some custom ones in some cases) or open an issue to him

Which screen reader programs do you recommend for testing this?

[2022-02-15 19:40] infinitepower18 opened #58 "The installation has failed, but no error was thrown"
It is not letting me install anything on WSA.

![image](https://user-images.githubusercontent.com/44692189/154136384-2c8a297f-27c4-45af-81b2-7ae7b8210d87.png)

[2022-02-15 19:50] hifihedgehog commented on #58
Also having this error with Windows 11 21H2 with the latest [KB5010414](https://support.microsoft.com/help/5010414) that went out today.

[2022-02-15 19:56] hifihedgehog commented on #58
A common thread I am noticing is APKs do NOT work, but XAPKs for some reason still do.

[2022-02-15 20:13] alesimula commented on #58
@hifihedgehog are all versions affected or just the latest?

[2022-02-15 21:16] hifihedgehog commented on #58
I haven't tried all the versions yet. I have only tried the latest so far (1.3.0).

[2022-02-15 21:19] hifihedgehog commented on #58
OK.

1.2.4 works fine with APK installs.

1.3.0 works fine with XAPK installs, but no longer works with APK installs.

[2022-02-15 21:20] hifihedgehog commented on #58
@alesimula: I only tried 1.3.0 up until this point. Only XAPKs work, and not APKs.

Downgrading to 1.24, APKs work again.

[2022-02-15 21:41] archon810 commented on #58
Same issue here. https://twitter.com/ArtemR/status/1493701850716987393

[2022-02-15 21:43] archon810 commented on #58
Can confirm 1.2.4 works for me as well, but 1.3.0 does not.

[2022-02-15 21:45] alesimula commented on #58
@archon810 yeah, I've probably done a stupid mistake as I've modified the way a separate process is executed

[2022-02-15 21:45] hyskylord opened #59 "Cannot open .apk file containing Chinese characters in name"
Hi,
  I just noticed that if the .apk file has name with Chinese characters, it will stuck at loading and I won't be able to install the app. After deleting those characters the .apk file works fine.

[2022-02-15 21:48] bdlukaa commented on #51
All inputs for `fluent_ui` have `semanticLabel`, which is the label that will be read by screen readers. Accessibility support is highligly appreciated. Latest version of Flutter (2.10.1) already has screen readers support!

[2022-02-15 21:53] hyskylord commented on #59
Just notice this is dulplicated. Not sure why it's closed though.

[2022-02-15 21:54] hyskylord commented on #59
#31

[2022-02-15 22:04] alesimula commented on #59
@hyskylord should be fixed in the latest versions, if it isn't I can't replicate the issue... Could you send me the name of the apk so I can rename one? Maybe it's a specific edge case

[2022-02-15 23:19] alesimula commented on #58
@archon810 Well, I've fixed it :P

[2022-02-15 23:19] #58 closed

[2022-02-16 01:08] archon810 opened #60 "Add Open and Uninstall buttons to app install UI"
If you already have the app installed, right now the choices are Cancel and Reinstall. I think it'd be really useful if you also added Uninstall and Open here.

And as I mentioned somewhere else, please hook up Esc to press Cancel in this UI.

Thanks!

![image](https://user-images.githubusercontent.com/469543/154176798-a6aff1fa-55bb-489a-b9b1-fd9013114e12.png)

[2022-02-16 01:13] infinitepower18 commented on #58
Yeah I faced this too, could be a bug with the WSA

[2022-02-16 05:54] hyskylord commented on #59
@alesimula The latest version doesn't solve my issue. The apk file just refuse to load whenever I put any Chinese character inside. However, I found that the test version you posted on #31  is working for me.

[2022-02-16 06:26] hyskylord commented on #59
As a follow up, I noticed the name "aaaaaa啊.apk" will work correctly with shortname "AAAAAA~1.APK". The name "啊aaaaaa.apk" will give short name "啊AAAA~1.APK" is not working. The name "啊.apk" with null short name is not working.

[2022-02-16 08:07] alesimula commented on #59
@hyskylord weird, I thought short names were supposed to be ASCII

[2022-02-16 14:40] hifihedgehog commented on #58
Thanks for fixing this so quickly, @alesimula!

[2022-02-18 08:19] hyskylord commented on #59
@alesimula NTFS allows Unicode depending on registry settings, and I believe this is enabled by default [Reference](https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2003/cc781607(v=ws.10)?redirectedfrom=MSDN)

Also the function will return the long path if the file has no short path from MS documentation:
[code]

[2022-02-18 09:56] hyskylord commented on #59
@akuropka looks like it is enabled by default in Chinese and Japanese systems for some reason, so I guess this is why it doesn't work for some people.

[2022-02-18 17:32] alesimula commented on #59
@akuropka @hyskylord I see, I guess I'll also have to check the short name for non-ASCII characters, and use the symlink hack in that case

[2022-02-18 18:29] akuropka commented on #59
@alesimula, maybe a stupid question but I did not dig to deep into this, would it not be possible to use a generic link name such as `base.apk -> 你好.apk`?

[2022-02-18 18:35] akuropka opened #62 "Killing adb server once not needed anymore"
I just noticed that adb keeps running despite wsa_pacman is closed. I am wondering whether it would not be useful to shut down adb server upon closing wsa_pacman or give the user some options (such as mentioned or after a certain period of inactivity).

[2022-02-19 16:44] SolarTorch opened #63 "Problem with the connection"
Hello

I have turned on the developer mode under windows 11 setting and reboot. The error message still exists.
![Screenshot 2022-02-19 104129](https://user-images.githubusercontent.com/10752372/154810163-0d3bd4a3-c76f-4e96-a170-b659179a83af.png)

Thank you

[2022-02-19 16:47] #63 closed

[2022-02-19 16:48] SolarTorch commented on #63
I see. The developer mode should be turned on is in wsa setting but not in windows setting.

[2022-02-20 15:35] alesimula commented on #60
@archon810 I don't know, having users accidentally clicking an "uninstall" button seems like a bigger issue to be worried about

[2022-02-20 15:48] #5 closed

[2022-02-20 15:52] archon810 commented on #60
You can have an Are you sure? confirmation button following that?

[2022-02-20 16:27] alesimula commented on #59
@hyskylord @akuropka Can anybody confirmed the issue is solved in version 1.3.2 ?

It should now also check whether the short name is ASCII, and use the symlink if not

[2022-02-20 16:31] akuropka commented on #59
I can only verify that it still works with ASCII short names.

[2022-02-21 11:34] alesimula commented on #59
@hyskylord What about you? Do Chinese apk files work on the new version?

[2022-02-21 12:29] FullyRealist opened #64 "Update Russian translate"
#65 solves the issue of translation described by the https://github.com/alesimula/wsa_pacman/issues/55#issuecomment-1035584580

[2022-02-21 12:41] akuropka commented on #59
Btw I tried to reproduce the issue by setting the flag `NtfsAllowExtendedCharacterIn8dot3Name` but didn't get Windows to produce a non-ASCII-SFN. The reference is from 2009 and may be outdated. I do have a Windows 10 running in Chinese but it's the standard western version and not the one for the Chinese market (don't know if that makes a difference). I cannot reproduce the issue there as well, so

[2022-02-21 13:07] alesimula commented on #64
@FullyRealist already merged 20 mins ago

[2022-02-21 21:11] hyskylord commented on #59
Tried several test files and it seems the problem was fixed. Thank you all for the help. :+1:

[2022-02-21 21:11] #59 closed

[2022-02-21 21:13] hyskylord commented on #31
@jianguyuxing A similar problem was discussed in #59 . Can you try the latest 1.3.2 version and see if the problem is fixed?

[2022-02-28 09:07] itsmeboy0 commented on #1
@alesimula You can close this now. I cleaned up my Visual C++ Redist as I found out duplication installations in my system, all works fine now.

[2022-02-28 09:11] itsmeboy0 commented on #3
I no longer use chocolatey, and it looks like it was added on Winget sometime ago. I am currently using it right now and am happy with it. Updated checklist.

[2022-03-08 02:34] jianguyuxing commented on #31
yes.it works well for me, too

[2022-03-14 12:03] adnan1710 commented on #46
MobyDroid doesn't show the files of Android system

![image](https://user-images.githubusercontent.com/72688100/158168411-babc99c2-7fcd-4ba7-8434-6aece163d717.png)

[2022-03-18 11:03] Hikarutch0720 opened #69 "[Feature suggestion] About Japanese support"
Looking at the situation in Japan, WSAPacman is used quite a bit, and it is hoped that the app will be translated into Japanese. If you can, please do so.

[2022-03-20 00:42] alesimula commented on #69
@Hikarutch0720 Hi, I'd love to add Japanese to my app bit i need some contribution as I don't know Japanese myself.

In the locale folder of the project there is a file for each language, which contains all the translated text (you can use en.arb as an example);

[2022-03-20 07:39] Hikarutch0720 commented on #69
[Japanese.pdf](https://github.com/alesimula/wsa_pacman/files/8310814/Japanese.pdf)
Please refer to this.  Only hiragana and katakana are used, but I can't write them here because there are so many Chinese characters.

[2022-03-20 10:46] alesimula commented on #69
@Hikarutch0720 I need a Japanese person to translate the app by sending me a translated copy of [this file](https://github.com/alesimula/wsa_pacman/blob/main/locale/en.arb), best I can do is use google translate

[2022-03-20 12:40] Hikarutch0720 commented on #69
I think Google Translate is probably the best way to go.  Thank you.

[2022-03-26 18:04] alesimula commented on #69
@Hikarutch0720 I added Japanese and released version 1.3.3

[2022-03-26 18:04] #69 closed

[2022-03-27 21:47] yodaluca23 opened #71 "[Feature Request] WSL Support"
I know this would be a really big thing and may take a while to implement but if it would become compatible with WSL (Windows Subsystem for Linux) that would be awesome or if you could make a separate repository or something, but please make this somehow. Make it just like this accept for any .deb file and use the WSL.

[2022-03-31 12:14] yodaluca23 commented on #71
You can get a list of all the official ones available to download by doing

wsl --list --online

In command prompt, I'm pretty sure they are all Debian based but not positive.

[2022-04-08 05:53] cjjdaq opened #73 "Software does not start successfully on win11 build 22593 ni_release.220402-1100"
错误应用程序名称: WSA-pacman.exe，版本: 1.0.0.1，时间戳: 0x62409f8e
错误模块名称: WSA-pacman.exe，版本: 1.0.0.1，时间戳: 0x62409f8e
异常代码: 0xc0000005
错误偏移量: 0x00000000000057f0
错误进程 ID: 0x0x7AD0
错误应用程序启动时间: 0x0x1D84B0CD535F9B3
错误应用程序路径: C:\Program Files\WSA PacMan\WSA-pacman.exe
错误模块路径: C:\Program Files\WSA PacMan\WSA-pacman.exe
报告 ID: 803dfd16-27c9-4825-9fb4-76db2e675825
错误程序包全名:
错误程序包相对应用程序 ID:

[2022-04-08 06:08] ialhabbal commented on #73
Same here. WSA PacMan does not run on Windows 11 Insider Preview 22H2 (OS Build 22593.1).

[2022-04-10 15:46] alesimula commented on #73
@cjjdaq I'll look into it

[2022-04-10 23:45] sharon-git opened #74 "NOT WORKING: Ver 1.3.4 on Windows 11 build 22593 ni_release.220402-1100"
Please fix it,
Before build 22593 ni_release.220402-1100 was working fine.

[2022-04-11 20:33] alesimula commented on #74
I'm on it... in the meantime, could you tell me if there is any version working with build 22593?

[2022-04-12 00:54] alesimula commented on #73
@cjjdaq @ialhabbal I fixed the issue, v.1.3.5 should start normally

[2022-04-12 00:55] alesimula commented on #74
@sharon-git I should've fixed it; can you confirm it's working on v1.3.5?

[2022-04-12 01:07] sharon-git commented on #74
Hi... Was installing versions:
1.3.4
1.3.0
1.2.0
1.1.0
1.0.0
None of the above work on Windows 11 build 22593 ni_release.220402-1100

[2022-04-12 06:01] akuropka commented on #71
There's also SUSE and RHEL in the official repo list. However, WSL is not limited to the distros available in store...

I am wondering why you don't use the official package managers along with wslg or any other X if you don't want to use shell based commands. This would be a native solution with access to the dedicated repos.

[2022-04-12 07:11] alesimula commented on #74
@sharon-git thanks, I'll look into this issue too

[2022-04-25 03:23] keenanyafiqy opened #80 "[Suggestion] Add WSA PacMan icon into the Setup"
Can you add WSA PacMan icon to the Setup? It feels like not **perfect** to see.

[2022-05-01 18:09] ShlomoCode opened #82 "Application management does not open"
Hello, Recently the application management button is not responding - the system is on, I press and nothing happens.
The Settings Manager button works great.
WSA Version: 2203.40000.1.0
[With Google Play services](https://github.com/LSPosed/MagiskOnWSA) ("full").
Windows version: Windows 11 Pro (21H2), 22000.613
Language: Hebrew

[2022-05-03 14:24] ShlomoCode commented on #82
After updating the WSA version to the latest version (released today), it worked out.

[2022-05-03 14:24] #82 closed

[2022-05-10 09:08] beilunyang opened #86 "[Suggestion] Add the feature of one-click installation of magisk and gapp"
I think we can add one click install magisk and gapp function to facilitate users to root android.
Refer to this project for details.  https://github.com/LSPosed/MagiskOnWSA

[2022-05-10 16:03] alesimula commented on #86
@beilunyang that's a feature i was actually thinking of adding, but there are a few issues: in order to install Magisk or Play Store, you actually need to uninstall the official WSA app and install an unofficial build (the project you linked)

That project is already a one-click install

I tried a few other ways to install the Play Store on the official build but I was unsuccessful

[2022-05-11 02:18] beilunyang commented on #86
That's true. But I don't care if wsa is official or not. I just want to easily install magisk and gapp.
That project is not very easy to use, you need to clone the project and compile it yourself, then unzip it and run the install script.
I think we can compile several versions in advance. Then integrate it into wsa_pacman
to make it easier for users to use.
And I think wsa_pacman can integrate mo

[2022-05-11 07:14] alesimula commented on #86
@beilunyang whixh adb functions you think would ne useful to nave on WSA?

Also i'll think about Magisk + Gapps, bit at the moment it seems a bit complicated

[2022-05-11 07:34] beilunyang commented on #86
Example:
[code]
Of course, I also think it's possible to provide a way for users to add adb commands to wsa themselves. That way, instead of typing similar adb commands over and over again each time, the user would just click the button they configured in wsa
@alesimula

[2022-05-21 10:01] hsusanoo opened #87 "Install button disabled"
I tried with different apps but the install button is always disabled.

![image](https://user-images.githubusercontent.com/35850056/169646330-4ee208f1-0591-4410-b275-3ef46dfbd0ac.png)

[2022-05-23 15:58] jangodracor opened #88 "Install button is disabled"
![image](https://user-images.githubusercontent.com/49736846/169859954-4936fe5b-1992-4881-b689-c0b19d707d41.png)

[2022-05-24 20:45] LuccaDC commented on #87
@alesimula Same problem here. I installed the official android subsystem and it is on version 2203.40000.3.0. Which version of wsa it is working on?
![image](https://user-images.githubusercontent.com/80166338/170128899-c14c6660-854d-40df-9a5b-8b8f68cd8c4c.png)
![image](https://user-images.githubusercontent.com/80166338/170128934-15e7e327-b7ba-4554-b286-2d145d8e14c2.png)

[2022-05-26 00:06] jangodracor commented on #88
i disabled developer mode and re enabled it and it worked!

On Wed, May 25, 2022 at 2:57 PM Valérian Gaudeau ***@***.***>
wrote:

[2022-05-31 03:05] bxxasn opened #89 "When will IOS be supported?"
When will IOS be supported?

[2022-06-01 08:18] FullyRealist commented on #89
At the moment this is not possible, because the application is an assistant for the Windows operating system [option](https://docs.microsoft.com/en-us/windows/android/wsa/) and is used to install applications more easily **only on Android**

[2022-06-01 15:14] #89 closed

[2022-06-05 11:43] alex-sandro92 commented on #88
It worked for me too :D

[2022-06-14 23:37] OpnewHub opened #90 "no such file as iss"

[2022-06-25 08:35] ss8688 commented on #88
same issue

[2022-07-13 15:52] myli7 commented on #87
the same issue, cannot install any app even though the developer mode is enabled and the system is running....

[2022-07-13 20:05] janat08 commented on #87
this is better https://github.com/LSPosed/MagiskOnWSA
it intalls play services, because just about no app will work without it.

[2022-07-22 10:32] yonghenghuanmie commented on #88
Thanks.

[2022-08-14 08:42] DroidX628 opened #93 "Hi! Can you add a feature to be able to install .apks & .xapk? Thanks!"

[2022-08-24 11:27] prynnekey commented on #88
Turning on USB debugging in developer mode solved it

[2022-08-24 11:28] prynnekey commented on #87
Turning on USB debugging in developer mode solved it

[2022-08-25 15:51] foco76 commented on #93
I Need That Too..If possible it would be huge help!
BTW...
Maybe you can use this repository to ease the work!
("https://github.com/Aefyr/SAI")
Good Luck And thanX in advance!

[2022-08-25 16:08] foco76 opened #94 "Use SAI In Github to give ability to install apks and xapk!"
Hi...maybe you can use "https://github.com/Aefyr/SAI" to give ability to install apks and xapk in wsa_pacman,I know it's easier said than done..but can you please try?

[2022-08-26 08:01] alesimula commented on #94
@foco76 The app already supports xapk, as for the apks extension, having to install an android app and letting it handle installation seems a little cumbersome of a process than just implementing the apks format, I just need all the info i can get on the apks manifest file and some spare time

[2022-08-26 08:03] alesimula commented on #93
The .xapk extension is already supported, please let me know if there are any problems with the xapk installation

[2022-08-26 14:59] razandtim opened #95 "Why it couldn't establish connection?"
Can you help me out?

![image](https://user-images.githubusercontent.com/74573568/186934317-b02fd504-e579-4713-9f7e-a6f9cbf275f1.png)

[2022-08-27 11:31] alesimula commented on #95
You should open Android options and check if Developer Mode is enabled, and in developer options, try checking the "USB Debug" option (also try disabling and re-enabling it)

[2022-08-28 16:33] xbotuk opened #96 "Install button disabled"
I am trying to install this apk and its install button is disabled. How to enable it?
Also, can you build an interface to be able to transfer files into the WSA? Thanks

![image](https://user-images.githubusercontent.com/1208534/187084674-e2212d49-10f9-42e1-9780-86a63bb57f04.png)

[2022-08-28 16:40] #96 closed

[2022-09-03 11:20] razandtim commented on #95
I did that several times.. it's still the same.

[2022-09-03 11:29] razandtim commented on #95
Well.. now is connected. I don't know why and how but It's now connected. I will let this issue opened tho for further problems/comments about this issues.

[2022-09-09 02:11] R-Rajaneesh opened #97 "[ISSUE] app closes as soon as it opens"
I installed Google playstore from apkmirror, and it installed successfully, but when I opened it, the GUI showed up for a split second and then closed, only the amazon appstore opens properly.

Please look into this issue

![image](https://user-images.githubusercontent.com/75080457/189257399-6c3d18f9-a642-434e-88b0-dbe6282cfc7a.png)

[2022-09-11 06:27] R-Rajaneesh commented on #97
@alesimula

[2022-09-16 22:17] foco76 commented on #94
Than you!your app is the best there is!

[2022-09-18 16:22] alesimula commented on #97
@R-Rajaneesh This is just an installer and the Play Store app was installed correctly; However, this is a WSA issue, and the Play Store is not officially supported by WSA.

You have a few alternatives, you can either install the [AuroraStore](https://auroraoss.com), which is a third-party Play Store client, or build and install [MagiskOnWSA](https://github.com/LSPosed/MagiskOnWSALocal), which is a

[2022-09-18 16:22] #97 closed

[2022-09-19 00:34] R-Rajaneesh commented on #97
ok thanks!!

[2022-09-21 22:19] alsd4git opened #98 "[Suggestion] show actual apk icons in explorer"
Please consider integration with this project ( [ApkShellext2](https://github.com/kkguo/apkshellext) ) to display proper app icons for apk files in explorer

[2022-09-26 09:11] ialhabbal opened #99 "Does not work on latest Windows 11 22H2 with WSA"
Installing app does nothing.

[2022-09-29 15:31] Makarov-Leonid commented on #99
windows 11 22H2

When the install window appears, the install button is disabled.

[2022-10-01 14:22] reviloy commented on #99
Having the same issue.

[2022-10-01 19:44] 201820680 opened #101 "play store"
how to download google play store using wsa pac man

[2022-10-04 00:49] maxkingmax commented on #99
Same trouble！

[2022-10-06 13:04] RUVENSHA commented on #99
When will a revised version be released?

[2022-10-07 06:49] chenks commented on #99
same problem here.

[2022-10-12 02:10] Largo commented on #99
It does work.

Windows Button > Search for Android > Developer > Turn on Developermode

[2022-10-12 06:55] sm64onlydude commented on #99
doesnt work for me.

[2022-10-13 10:48] gmnowels commented on #99
not my 22h2

[2022-10-16 14:11] alesimula commented on #99
I'll take a look

[2022-10-18 07:31] alesimula commented on #99
Guys it's strangely working for me... can you tell me the WSA version? (Android Subsystem for Android Settings -> About -> Version [on the bottom] )

[2022-10-18 08:46] sm64onlydude commented on #99
version 2207.40000.8.0

On Tue, Oct 18, 2022 at 3:31 PM alesimula ***@***.***> wrote:

[2022-10-18 08:51] sm64onlydude commented on #99
thats strange, it works now. Idk bout the other 2 people, but it is working
for me again. Dont know how or why

On Tue, Oct 18, 2022 at 4:46 PM TheBuisnessPyro ***@***.***>
wrote:

[2022-10-18 08:51] sm64onlydude commented on #99
right as i sent this unknown error gets thrown at me

On Tue, Oct 18, 2022 at 4:50 PM TheBuisnessPyro ***@***.***>
wrote:

[2022-10-18 09:02] RUVENSHA commented on #99
You did something for it to work
Or is it a matter of luck
Of course developer mode is enabled
For me it only worked after I ran ADB
But it stuck my WSA so I removed it

[2022-10-18 09:34] maxkingmax commented on #99
version 2207.40000.8.0

[2022-10-19 16:18] RUVENSHA commented on #99
Started working today
After I updated the Windows version today it worked again

[2022-10-19 16:19] RUVENSHA commented on #99
Windows 11 Pro
22621.675

[2022-10-23 15:46] mehdieft95 commented on #99
Seems WSA Developer Mode is not detecting PacMan's request. The following fixed the grayed out "Install" button for me:

- Restart your system
- Open PacMan app and make sure it is connected to WSA (Green "Connected" Checkmark)
- Open WSA app and go to "Developer" tab
- Turn off "Developer mode" and wait 10 second
- Turn it back on and it should ask you to allow/deny PacMan requests to USB debug
-

[2022-10-31 12:40] vadimkantorov commented on #99
Same issue. PacMan shows itself well connected to WSA, but the Install button is disabled, and "Manage applications" does nothing on click either.

[2022-11-01 18:41] alesimula commented on #99
@mehdieft95 I added an FAQ section in the README and linked your comment, BTW checking the "always allow" box before clicking allow would avoid having to repeat this hassle (I took the liberty to edit your response 😅)

I'm not sure whether this also happens on new installations, or on older WSA PacMan installations after Microsoft updated the way USB debugging authorizations are managed

[2022-11-01 18:41] #99 closed

[2022-11-02 22:08] danielhuvr commented on #99
I had the same issue on a fresh WSA Pacman installation and restarting the computer and android substack rectified the issue. Should have known to reboot when things weren't working as expected after installing any application.

[2022-11-03 13:18] Yukari316 opened #103 "[BUG] Install apk successful, but return UNKNOWN_ERROR"
version: 1.3.6
windows version: Windows 11, OS Build 10.0.22621.674
WSA version: 2209.40000.26.0
![KXGQP4APR6%OUA% R@9PUB7](https://user-images.githubusercontent.com/7535224/199730704-5bec018f-9e22-4229-a2b9-ac9b132b828d.png)
![image](https://user-images.githubusercontent.com/7535224/199731170-cd1bb6d4-4c70-423b-86fc-40291dda0d91.png)

[2022-11-14 00:59] mrconnerton opened #105 "Where are install logs"
I'm trying to install a 2gb apk but it just hangs on "installing application ...". Are there install logs being written somewhere I can go see and find where it might be hanging exactly?

[2022-11-15 12:25] alesimula commented on #105
Not at the moment, you should probably wait quite a bit if it's a 2Gb apk

[2022-11-24 18:21] YipSzeho commented on #103
I had the same problem
version: 1.3.6
windows version: 22621.819
WSA version: 2210.40000.7.0

[2022-11-28 12:16] alesimula commented on #103
Currently the application waits for the adb installation process for 30 seconds, after which it times out (but it may still be running in the background, so it probably just took more than 30 seconds to install).

Maybe I should have a specific message when for installation timeout, and allow the wait time to be customizable